<div class="uk-width-1-2 uk-container-center">
  <h1 class="uk-heading">Admin Panel</h1>
  <%= link_to "Manage Users",  users_path, :class => "uk-button" %>
  <%= link_to "Manage Articles",  users_path, :class => "uk-button" %>
  <%= link_to "Manage Headings",  users_path, :class => "uk-button" %>
</div>