<div class="uk-form-row uk-width-medium-2-3 uk-push-1-6">
  <%= f.label :photo_file_name, "Image Name" %>
  <%= f.text_field :photo_file_name %><br />
  <%= f.label :photo, "Image File" %>
  <%= f.file_field :photo %><br />
</div>