<div class="uk-grid">
  <div class="uk-width-large-3-4 uk-width-medium-2-3">
    <div class="uk-grid">

    <%# If there is ActiveRecord, then there is only one header and so we should show all articles under that header %>
    <% if @headers.is_a?(ActiveRecord::Relation) %>
      <%= render 'all_headers_index' %>
    <% else %>
      <%= render 'individual_header_index' %>
    <% end %>

    </div>
  </div>
  <div class="uk-width-medium-1-3 uk-width-large-1-4">
    <%= image_tag("http://placehold.it/250x450", class: "uk-align-center uk-margin-bottom-remove") %>
  </div>
</div>