$mbc-red: rgb(131, 14, 17);
$mbc-blue: rgb(34,136,186);
$logo-bar-height: 100px;

#logo-bar {
	.logo {
		height: $logo-bar-height;
	}

	.login {
		padding-right: 10px;

		div {
			text-align: right;
		}

		.icons {
			margin-top: 10px;

			h3 {
				color: white;
			}
		}

		a {
			padding: 0 5px;
		}
	}
}

.blue {
	background-color: $mbc-blue!important;
}

.red {
	background-color: $mbc-red!important;
}

.container {
	margin: 15px 0;

	.uk-panel {
		padding: 15px;

		h3 {
			color: white;
			padding: 5px 20px;
		}

		a {
			color: white;
			font-size: small;
		}

		a:hover {
			color: white;
		}
	}

	.flash-wrapper {
		padding: 0 15px;
	}
}

form {
	margin-bottom: 15px;

}

.uk-htmleditor {
	padding: 15px;
}

footer {
	color: white;

	ul a {
		color: white;
		text-decoration: none;
		width: 90%;
	}

	ul li {
		text-align: center;
		margin-top: 5px;
	}

	ul li:last-child {
		margin-bottom: 5px;
	}

	p, ul {
		padding: 5px;
	}
}

div.field_with_errors {
  display: inline;
}